body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.canvas_container
{
    /* display: flex;
    width: 50%;
    height: 100vh;
    background-color: white; */
    width: 50%;
    height: 100vh;
    display: grid;
}



/* .canvas_container:hover
{
    
} */

.title
{
    font-family: cursive;
    font-weight: bolder;
    padding-top: 10px;
    font-size: 30px;
    background-color: peachpuff;
    color: royalblue;
}

.menu_container
{
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 50%;
    background-color: gray;
    position: absolute;
}

.container_for_download
{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: flex-end;
}

.download-button
{
    display: flex;
    width: 356px;
    height: 106px;
    background-color: lightskyblue;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: large;
    border-radius: 25px;
    margin-right: 25px;
    margin-bottom: 75px;
    border-color: lightskyblue;
    position: absolute;
}

button.download-button:hover
{
    background-color: rgb(89, 140, 171);
    transition: 0.25s;
}