body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.canvas_container
{
    width: 50%;
    height: 100vh;
    display: grid;   
}

.title
{
    font-family: cursive;
    font-weight: bolder;
    padding-top: 10px;
    font-size: 30px;
    background-color: peachpuff;
    color: royalblue;
    text-align: center;
}

.menu_container
{
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 50%;
    background-color: gray;
    position: absolute;
}

.container_for_grid_size_button
{
    display: flex;
    width: 159px;
    height: 46px;
    position: absolute;
    margin-bottom: 100%;
    margin-right: 70%;
}

#grid-size-button
{
    background-color: white;
    color: red;
    border-color: black;
    border-radius: 25px;
    border-width: 1px;
    width: 159px;
    height: 46px;
}

#grid-size-button:hover
{
    background-color: rgb(189, 189, 189);
    transition: 0.25s;
    cursor: pointer;
}


.container_for_download
{
    display: flex;
    width: 356px;
    height: 106px;
    margin-bottom: 75px;
    margin-right: 25px;
    position: absolute;
}


button.download-button
{
    display: flex;
    width: 356px;
    height: 106px;
    background-color: lightskyblue;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: large;
    border-radius: 25px;
    margin-right: 25px;
    margin-bottom: 75px;
    border-color: lightskyblue;
    position: absolute;
}

/* button.set_size
{
    display: flex;
    width:
} */

/* .container_for_download
{
    display: flex;
    width: 356px;
    height: 106px;
    margin-right: 50px;
    justify-content: flex-end;

}

.download-button
{
    display: flex;
    width: 356px;
    height: 106px;
    background-color: lightskyblue;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: large;
    border-radius: 25px;
    margin-right: 25px;
    margin-bottom: 75px;
    border-color: lightskyblue;
    position: absolute;
} */

button.download-button:hover
{
    background-color: rgb(89, 140, 171);
    transition: 0.25s;
}